body {
    width: 60%;
    margin: auto;
    background-color: burlywood;
  }
.header {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
  margin-bottom: 200px;
}
.background-image {
  margin-right:20%;

}
h1 {
  background-color: burlywood;
  width: 30vw;
  color: black;
 }
 @keyframes myAnim {
     from {
       margin-left: 0;
     }
     to {
       margin-left: 500px;
     }
    }
    h1 {
     animation: myAnim 5s linear alternate infinite;
    }
    .card {
     width: 300px;
     height: 450px;
     margin: 0 auto;
     position: relative;
     border: 1px solid #f5dde1;
 }
.menu-item:not(:last-child) {
  margin-right: 63px;
}

.menu-item a {
  text-decoration: none;
  color: black;
}

p.menu-item{
  float: left;
  font-size: 20px;
}
.button {
    background-color: white;
 }
 p {
  /* Сделаем текст крупнее чтобы лучше видеть разницу */
  font-size: 20px;
}

.up {
  vertical-align: 15px;
}
img {
  margin-left: 70px;
}
img.src {
  float: left;
}
